#footer{
  width: 100%;
  text-align: center;
  padding: 15px 0;
  .nav-links{
    display: flex;
    a{
      text-decoration: none;
      padding: 10px;
      color: black;
      &:hover{
        text-decoration: underline;
      }
      &:visited{
        color: black;
      }
    }
  }
}
