.homepage{
  width: 100%;
  .placeholder{
    height: calc(100vh + 80px);
    box-shadow: 0 0 1.5px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#1e5799+0,2989d8+71,2989d8+74,2989d8+74,2989d8+77,2989d8+77,7db9e8+100 */
    background: #1e5799; /* Old browsers */
    background: -moz-linear-gradient(left,  #1e5799 0%, #2989d8 71%, #2989d8 74%, #2989d8 74%, #2989d8 77%, #2989d8 77%, #7db9e8 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left,  #1e5799 0%,#2989d8 71%,#2989d8 74%,#2989d8 74%,#2989d8 77%,#2989d8 77%,#7db9e8 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right,  #1e5799 0%,#2989d8 71%,#2989d8 74%,#2989d8 74%,#2989d8 77%,#2989d8 77%,#7db9e8 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#7db9e8',GradientType=1 ); /* IE6-9 */

    .title{
      text-align: center;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      h2{
        margin: 0 auto;
      }
    }
  }
}
