@import './header.scss';
@import './home.scss';
@import './NavBar.scss';
@import './footer.scss';

body, html{
  padding:0;
  margin:0;
  height: 100%;
  font-family: 'Ubuntu', sans-serif;
  line-height: 1.5em;
  letter-spacing: 3px;
}

#main{
  padding: 0;
  margin: 0;
  height: 100%;
}

.navbar{
  display: none;
  &.open {
    display: block;
    background: white;
    position: fixed;
    top:0;
    bottom:0;
    left: 0;
    right:0;
    color: black;
    background: url('/images/nskqS.jpg') no-repeat center;
    background-size: cover;
  }
}



#header{
  margin:0;
  height:70px;
  position: fixed;
  top:0;
  left: 0;
  width:100%;
  border-bottom: 0.5px solid black;
  box-shadow: 0 0 2.5px 0;
  background-color: rgba(255,255,255,0.8);
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  .title{
    a{
      text-decoration: none;
    }
    h2{
      color: black;
      margin-left: 10px;
    }
  }
  .hamburger{
    cursor: pointer;
    button{
      background: transparent;
      border: none;
      cursor: pointer;
      font-size: 1.5em;
      margin-right: 10px;
    }
  }
}
