.Navbar{
  .closeNav{
    position: absolute;
    top:0;
    right:0;
    z-index:99;
    button{
      font-size: 1.8em;
      background: transparent;
      color: black;
      font-weight: bolder;
      padding:5px;
      border: none;
      width: 65px;
      outline: none;
      cursor: pointer;

    }
  }
  .NavLinks{
    display: flex;
    flex-direction: column;
    padding: 25px;
    justify-content: center;
    width: 100%;
    text-align: right;
    position: absolute;
    bottom:0;
    left: 0;
    top:0;
    a{
      font-size: 3em;
      padding: 25px;
      margin: 10px;
      color: black;
      text-decoration: none;
      transition: all 3s ease-in;
      &:hover{
        text-decoration: underline;
      }
      &:visited{
        color: black;
      }
    }
  }
}
